@import "../node_modules/bulma/bulma.sass";

html {
  overflow: auto;
}
body {
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  .making-of {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    opacity: 0.5;
    transition: all 100ms ease-in-out;
    &:hover {
      transition: all 100ms ease-in-out;
      opacity: 1;
    }

    @media only screen and (max-width: 650px) {
      i {
        display: none;
      }
    }

    .youtube {
      height: 50px;
    }
  }
  .watermark {
    position: absolute;
    top: 0;
    right: 0;
    a {
      display: inline-block;
      img {
        height: 35px;
        &.round-left-bottom {
          border-bottom-left-radius: 20px;
        }
      }
    }
  }
  .summary {
    display: flex;
    justify-content: center;
  }
  .performance-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .card {
      flex: 1;
      .stock-data {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        .pricing {
          display: flex;
          gap: 5px;
        }
      }
      .stock-title {
        font-weight: bold;
        span {
          gap: 5px;
        }
      }
      .is-danger {
        color: $red;
      }
      .is-success {
        color: $success;
      }
      .performance {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        gap: 5px;
        font-weight: bold;
        &.big {
          font-size: 3em;
        }
        .font-small {
          text-align: center;
          font-size: 0.6em;
        }
      }
    }
  }
  .progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .progress {
      width: 20vw;
    }
  }
}
.is-flexwrap {
  flex-wrap: wrap;
}

.hero-body {
  padding: 1.5rem;
}

.dollar-eye-wrapper {
  position: absolute;
  transform: scale(0);
  left: 45px;
  top: 30px;
  display: flex;
  gap: 8px;
  animation-name: bouncing;
  animation-timing-function: cubic-bezier();
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  .eye {
    height: 15px;
    width: 15px;
    svg {
      fill: rgb(8, 197, 8);
      stroke: white;
      stroke-width: 40px;
    }
  }
}
.imprint-page {
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.imprint {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.center {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  .donate {
    display: flex;
    justify-content: center;
    color:  #253B80;
    border: 1px solid #253B80;
    background: white;
    outline: none;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    opacity: 0.8;
    cursor: pointer;
    width: 20rem;
    font-size: 0.8rem;
    transition: opacity 0.5s, width 0.5s;
    &:hover {
      opacity: 1;
      width: 25rem;
    }

    img {
      width: 50px;
    }
  }
}

@keyframes bouncing {
	0% {
		transform: scale(0);
	}

	43% {
		transform: scale(0.9);
	}
  63% {
		transform: scale(0.3);
	}
  70% {
		transform: scale(3);
	}
	100% {
		transform: scale(1);
	}
}
